*{
	padding: 0;
	margin: 0;
	font-family: fantasy;
}
a{
	color: inherit;
	text-decoration: none;
}
.medsos{
	padding: 5px 0;
	background-color: #08b208;
}
.medsos ul li{
	display: inline-block;
	color: #fff;
	margin-right: 10px;
}
.container{
	width: 80%;
	margin: 0 auto;
}
header{
	padding-bottom: 70px
}
header h1{
	float: left;
	padding: 15px 0;
	color: #08b208;
}
header ul{
	float: right;
}
header ul li{
	display: inline-block;
}
header ul li a{
	padding: 25px 20px;
	display: inline-block;
}
header ul li a:hover{
	background-color: #08b208;
	color: #fff;
}

.heading{
	text-align: center;
	font-size: 4rem;
	color: #fff;
	padding: 1rem;
	margin: 2rem 0;
	background: rgba(0, 128, 0);
}

.active{
	background-color: #08b208;
	color: #fff;
}
.banner{
	height: 60vh;
	background-image: url(/sinorex/6_20241102_085404_0002.png);
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 25px
}
.banner:after{
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(55, 230, 247,.6);
}
.banner h2{
	color: #fff;
	z-index: 1;
	padding: 20px 25px;
	border: 3px solid #fff;
}
section{
	padding: 100px 0px;
}
section h3{
	text-align: center;
	padding: 20px 0;
	color: #08b208;
	margin-bottom: 20px;
}

.content p{
	margin-left: 300px;
	margin-right: 300px;
	align-items: center;
	margin-bottom: -100px;
	text-align: center;
}

.heading{
	font-size: 3rem;
}

.btn{
	display: inline-block;
	margin-top: 1rem;
	border-radius: 5rem;
	background: #333;
	color: #fff;
	padding: .9rem 3.5rem;
	cursor: pointer;
	font-size: 1.7rem;
}

.btn:hover{
	background:#fff;
}

.about .row{
	display: flex;
	align-items: center;
	grid-gap: 2rem;
	flex-wrap: wrap;
	padding: 2rem 0;
	padding-bottom: 3rem;
}

.about .row .video-container video{
	flex: 1 1 40rem;
	position: relative;
}

.about .row .video-container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 300px;
	margin-top: -50px;
	width: 50%;
	border: 1.5rem solid #fff;
	border-radius: .5rem;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.about .row .content{
	flex:1 1 40rem;
}

.about p{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #666;
	word-spacing: 10px;
	font-family: sans-serif;
}